@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #08080F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color:#F2CD00;
}

.left-login-image {
	width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card-login{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 35px;
    background: #242325;
    border-radius: 25px;
    box-shadow: 0px 10px 40px #000;
}

.card-login > h1 {
    color: #F2CD00;
    font-weight: 800;
    margin: 0;
    /* height: 50%; */
    align-content: center;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 15px;
    background: #363636;
    color: #F2CD00;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #000;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #F2CD00;
    margin-bottom: 5px;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #F2CD00;
    color: #08080F;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(141, 101, 0);
}

.forgot-password {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.forgot-password-link {
    text-decoration: underline;
    color: #F2CD00;
    align-self: flex-start;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #F2CD00;
    margin: 10px 0;
}

.facebook-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

.title-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

.title-container > label {
	width: 50px;
	height: 25px;
	position: relative;
	display: block;
	background: red;
	border-radius: 200px;
	box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor:pointer;
}

.title-container > label:after {
	content: "";
	width: 18px;
	height: 22.5px;
	top: 2px;
	left: 1px;
	position: absolute;
	background: linear-gradient(180deg, #f7ce00,#F2CD00);
	border-radius: 180px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.title-container > input {
	width: 0;
	height: 0;
	visibility: hidden;
}

.title-container > input:checked + label {
	background: #242424;
}

.title-container > input:checked + label:after {
	left:49px;
	transform: translateX(-100%);
	background: linear-gradient(180deg,#777,#3a3a3a);
}

.title-container > label, .title-container > label:after {
	transition: 0.3s
}

.title-container > label:active::after {
	width: 26px;
}

.login-with {
	color: #F2CD00;
}
.btn-login-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
}

.button-icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.filter-buttons {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
}

