{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'analise.css' %}">
        <title>Analise</title>
    </head>
    
<body>
    <div class="filter-buttons">
        <button onclick="applyFilter('today')">Hoje</button>
        <button onclick="applyFilter('this_week')">Essa Semana</button>
        <button onclick="applyFilter('this_month')">Esse Mês</button>
        <button onclick="applyFilter('all_time')">Sempre</button>
    </div>

    <div style="max-height: 400px; overflow-y: auto;">
        <h2>Dados de Temperatura:</h2>
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Data e Hora</th>
                    <th>Temperatura (°C)</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in df_temperatura.iterrows %}
                <tr>
                    <td>{{ row.timestamp }}</td>
                    <td>{{ row.temperatura|default:"N/A" }}°C</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="max-height: 400px; overflow-y: auto;">
        <h2>Dados de Umidade:</h2>
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Data e Hora</th>
                    <th>Umidade (%)</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in df_umidade.iterrows %}
                <tr>
                    <td>{{ row.timestamp }}</td>
                    <td>{{ row.umidade|default:"N/A" }}°C</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>


<script>
    function applyFilter(intervaloTempo) {
        // Redirecionar diretamente para a view no Django com o intervalo de tempo na query string
        window.location.href = `/analise/${intervaloTempo}/`;
    }
    </script>