{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'analise.css' %}">
        <title>Analise</title>
    </head>
    
<body>
    <div class="filter-buttons">
        <button onclick="applyFilter('today')">Hoje</button>
        <button onclick="applyFilter('this_week')">Essa Semana</button>
        <button onclick="applyFilter('this_month')">Esse Mês</button>
        <button onclick="applyFilter('all_time')">Sempre</button>
    </div>

    <div style="display: flex; flex-direction: column;">
        <div class="scrollable-container">
            <h2>Dados de Temperatura:</h2>
            <div class="scrollable-table-container">
                <table style="width: 80%; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="width: 35%; text-align: left">Data e Hora</th>
                            <th style="width: 25%; text-align: left">Temperatura</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in df_temperatura.iterrows %}
                        <tr>
                            <td>{{ row.timestamp }}</td>
                            <td>{{ row.temperatura|default:"N/A" }}°C</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="scrollable-container">
            <h2>Dados de Umidade:</h2>
            <div class="scrollable-table-container">
                <table style="width: 80%; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="width: 35%; text-align: left">Data e Hora</th>
                            <th style="width: 25%; text-align: left">Umidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in df_umidade.iterrows %}
                        <tr>
                            <td>{{ row.timestamp }}</td>
                            <td>{{ row.umidade|default:"N/A" }}°C</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</body>
</html>


<script>
    function applyFilter(intervaloTempo) {
        // Redirecionar diretamente para a view no Django com o intervalo de tempo na query string
        window.location.href = `/analise/${intervaloTempo}/`;
    }
    </script>