{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
	<script src="{% static 'script.js'}" defer></script>
	<title>Login</title>
</head>
<body>
	<div class="main-login">
		<div class="left-login">
		</div>
		<div class="right-login">
			<div class="card-login">
				<div class="title-container">
					<input type="checkbox" id="btn" name="btn">
					<label for="btn">
					</label>
				</div>
				<h1>Login</h1>
				<form method="post" action="{% url 'signin' %}">
				{% csrf_token %}
					<div class="textfield">
						<label for="usuario">Usuário</label>
						<input type="text" name="usuario">
					</div>
					<div class="textfield">
						<label for="senha">Senha</label>
						<input type="password" name="senha">
					</div>
					<div class="forgot-password">
						<a href="#" class="forgot-password-link">Esqueci minha senha</a>
					</div>
					<button class="btn-login">Login</button>
				</form>
				<hr class="divider">
				<div class="auth-container">
					<p class="login-with"> Logar com: </p>
					<button class="btn-login-logo">
						<img src="{% static './img/google.png' %}" width="34px" height="34px"/>
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
